@page "/dynamic-form"

<EditForm Model="@_person" OnValidSubmit="context => Submit(context)">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <FluentValidator></FluentValidator>
    @CreateForm()
    <ValidationSummary></ValidationSummary>
    <div class="align-right">
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" Color="Color.Primary">Save</MudButton>
        <MudButton ButtonType="ButtonType.Reset" Variant="Variant.Text" Color="Color.Secondary">Reset</MudButton>
    </div>
</EditForm>